<%
var getRandomColor = function () {
    var colorRandom = ['00', '33', '66', '99', 'CC', 'FF'];
    var color = colorRandom[Math.floor(Math.random() * 5)] + colorRandom[Math.floor(Math.random() * 5)] + colorRandom[Math.floor(Math.random() * 5)];
    return '#' + color;
}
%>

<style type="text/css">
    #div_tag {position:relative; height:540px; border: 1px solid #0097d3;}
    #div_tag a {
        position:absolute;
        top:0px;
        left:0px;
        font-family: Microsoft YaHei;
        color:#444;
        font-weight:bold;
        text-decoration:none;
        padding: 4px 8px;
    }
    #div_tag a:hover {border: 1px solid #0097d3; background: #b4b4b4; }
</style>

<div class="container reveal" >
    <div id="div_tag" class="card">
        <div id="tag-wordcloud" class="card-content"></div>
        <% (site.tags).forEach(function(tag) { %>
          <a href=<%= decodeURI(url_for(tag.path)) %> style="color:<%- getRandomColor() %>"> <%- tag.name %> <%- tag.length %></a>
        <% }) %>
    </div>
</div>


