<!-- 备案信息+ -->
<div class="footer-icp">
    <% (theme.site_footer.icp||[]).forEach(function(value) { %>
        <% if (value.on) { %>
          <span id="icp">
            <a href="<%- url_for(value.url) %>" target="_blank"><%= value.text %></a>
          </span>
        <% } %>
    <% }) %>
</div>