.ip_welcome img{
    width:60%;
    float:left;
}

.ip_welcome div{
    width:40%;
    float:left;
    text-align: center;
}


.ip_welcome div p{
    height:120px;
    padding-top:20px;
    text-align: center;
    display:in-line-block
}

.ip_welcome div button {
        position: relative;
        background-color: #4CAF50;
        border: none;
        font-size: 10px;
        color: #FFFFFF;
        padding: 10px;
        width: 100px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
}

.ip_welcome div button:after {
        content: "";
        background: #90EE90;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
}

.ip_welcome div button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
}